body {
  margin: 0px;
  padding: 0px;
}

.content {
  padding: 30px 0;
  min-height: calc(100vh - 120px);
}

.content h2 {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
}

.content p {
  font: 600 14px sans-serif;
  line-height: 22px;
}

.content .panel {
  margin-top: 20px;
  border-radius: 2px;
}

.content .panel-body {
  padding: 0;
}

.content .panel-heading {
  border-radius: 0;
}

.content textarea {
  width: 100%;
  height: 600px;
  resize: none;
  white-space: pre;
  overflow-wrap: normal;
  overflow: auto;
  outline: none;
  padding: 15px;
}

.output {
  height: 600px;
  padding: 15px;
  overflow: auto;
  white-space: nowrap;
}

.lat {
  font-weight: bold;
}

.cyr {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

body {
  background-color: #F8F8F8;
}

.content h2 {
  color: #1F1F1F;
}

.content p {
  color: #1F1F1F;
}

.panel {
  background-color: #FFFFFF;
}

.panel-info {
  border-color: #E5E5E5
}

.panel-info>.panel-heading {
  color: #1F1F1F;
  background-color: #F8F8F8;
  border-color: #E5E5E5
}

.content textarea {
  background-color: #FFFFFF;
  color: #3B3B3B;
}

.output {
  background-color: #FFFFFF;
  color: #3B3B3B;
}

.lat {
  color: #005FB8;
}

.cyr {
  color: #F85149;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #181818;
  }

  .content h2 {
    color: #D7D7D7;
  }

  .content p {
    color: #D7D7D7;
  }

  .panel {
    background-color: #1F1F1F;
  }

  .panel-info {
    border-color: #2B2B2B
  }

  .panel-info>.panel-heading {
    color: #D7D7D7;
    background-color: #181818;
    border-color: #2B2B2B
  }

  .content textarea {
    background-color: #1F1F1F;
    color: #CCCCCC;
  }

  .output {
    background-color: #1F1F1F;
    color: #CCCCCC;
  }

  .lat {
    color: #0078D4;
  }

  .cyr {
    color: #F85149;
  }
}